body {
    .titleSection {
        text-align: center;
        h1 {
            color: navy;
        }
    }

    .formSection {
        padding: 10px;
        border: 1px dashed grey;

        .error {
            color: red;
        }
    }
}